extends base

include _reviewCard

block content
    main
        div(id="main--container__details")
            div(class="detials--main__container")
                div(class="main__image")
                    img(src=`${productPage.image}`, alt=`${productPage.name}`)
                div(class="other--main__content")
                    div(class="detail--product__name")
                        span= productPage.name
                    div(class="detail--product__brand")
                        span Brand:
                            p= productPage.brand
                    div(class="detail--product__price")= `Rs: ${productPage.discountPrice}`
                    div(class="detail--product__offer")
                        span(class="off__perc")= `${productPage.discountOff}% off`
                        span= ` on  `
                        span(class="strike__price")= ` Rs: ${productPage.price}`
                    div(class="detail--product__availbillity")
                        span In Stock
                    div(class="detail--product__addToCard")
                        a(class="addToCart__button" href=`/api/v1/shopping/addToCart/${productPage.id}`)
                            | add to cart
            div(class="description__container container__align")
                h2(class="description__heading content__heading") Description
                p(class="desc__para")= productPage.description[1]
                ul(class="desc--in__bullets")
                    each bullet in productPage.description[0]
                        li
                            span= bullet

            div(class="conposition__container container__align")
                h2(class="comp__heading content__heading") Composition and care guidelines
                span(class="composition__content")= Object.values(productPage.composition)
            div(class="conposition__container container__align")
                h2(class="comp__heading content__heading") Washing Care
                ul(class="desc--in__bullets styling_washing--care")
                    each washBullet in productPage.washCare
                        li
                            span= washBullet
            h2(class="review--section__heading") Customer Reviews
            div(class="adding--review__form")
                if user
                    div.review__box
                        p(class="adding--reviewbox__heading") Add your review here

                            form(action="#", id="adding__review", userId=`${user.id}`, productID=`${productPage.id}`)
                                div(class="review__title")
                                    label(for="review--top__title" class="label__align") Review Title
                                    input(type="text", id="review--top__title", placeholder="place your review title")
                                div(class="review__description")
                                    textarea(type="text", id="review__description", placeholder="Add your review", rows="4")
                                div(class="review__rating")
                                    label(for="quantity" class="label__align") Rating Quantity (between 1 and 5):
                                    input#rating(type="number", name="quantity", min="1", max="5")

                                div(class="submit--review__button")
                                    button Add Your Review
                else
                    h3.login--before__adding Login Before Adding Review
                div.review__rating
                    div.average__rating Average Ratings:
                        -const number = (productPage.ratingAverage * 100)
                        -const finalCOnvertedTwoDecimalPoint= Math[number < 0 ? 'ceil' : 'floor'](number) / 100
                        p#rating__text= finalCOnvertedTwoDecimalPoint
                    div.review__count= `(${productPage.ratingQuantity})`
            div(class="all--product__reviews")
                each review in productPage.reviews
                    +reviewCard(review)
                //- -for(let review = productPage.reviews.length; review > 0; i--) {
                    +reviewCard(productPage.reviews[review])
                //- -}
